<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>${i18n("hello.world")}</h1>
<p>${i18n("hello.world.json")}</p>
<a href="/hello_world.json">Hello World Json</a>
<br/><br/>

<h2>Current User</h2>
User = ${User???string}<br/>
User.email = ${(User.email)!'-'}

<br/><br/>
<a href="/session">/session</a>
<br/><br/>
<a href="/auth0/login">/auth0/login</a>
<br/><br/>
<a href="/auth0/logout">/auth0/logout</a>

<br/><br/>
<h2>Existing Users</h2>
<ul>
<#list Users as user>
    <li>${user.email} - <i>${(user.createdAt?string)!''}</i></li>
</#list>
</ul>

</@layout.myLayout>